@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff7613;
    --text-color: #727271;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: black;
}

/*common styles*/
img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* Fixed class name typo */
.description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: black; /* description */
}

/*layout*/
.container {
    max-width: 100px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: white;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        grid-column-gap: 7rem;
    }
}

.profile {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

.profile_container {
    display: flex;
    gap: 2rem;
}

.profile_profileImg {
    max-width: 250px;
}

.profile_name_firstName {
    color: darkslategray;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

.profile_name_lastName {
    color: darkslategray;
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.profile_title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.downloadBtn {
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.downloadBtn:hover {
    color: black;
}
